@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Ajout des polices ici */
  --font-title: var(--font-lilita);
  --font-body: var(--font-fredoka);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-mono: var(--font-geist-mono); /* ou autre si tu n'as plus geist */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
@keyframes colorFlash {
  0% {
    background-color: #22c55e; /* green-500 */
  }
  25% {
    background-color: #10b981; /* emerald-500 */
  }
  50% {
    background-color: #4ade80; /* green-400 */
  }
  75% {
    background-color: #16a34a; /* green-600 */
  }
  100% {
    background-color: #22c55e;
  }
}
@layer components {
  .tortueland::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centre l'image horizontalement */
    width: 100%; /* Ajuste la taille de l'image */
    height: 600; /* Garde les proportions */
    background-image: url("/images/tortuechill.png");
    background-size: contain; /* Garder les proportions sans déformation */
    background-position: center;
    opacity: 0.6; /* Tu peux ajuster l'opacité ici */
    z-index: 2; /* Pour garder l'image en arrière-plan */
    background-repeat: no-repeat;
  }
}
